:root {
    --color-periwinkle: rgb(154, 156, 234);
    --color-blue :rgb(162, 185, 238);
    --color-mintblue:rgb(162, 220, 238);
    --color-mint:rgb(173, 238, 226);
    --color-darkgray:rgb(24, 24, 24);
    --color-gray:rgb(32, 32, 32);
    --periwinkle-bottom-gradient: linear-gradient(to bottom right, rgb(154, 156, 234), rgb(162, 185, 238), rgb(162, 220, 238), rgb(173, 238, 226));
    --periwinkle-top-gradient: linear-gradient(to top right, rgb(154, 156, 234), rgb(162, 185, 238), rgb(162, 220, 238), rgb(173, 238, 226));
}

.logo img {
    max-width: 140px;
}
.ticket img {
    max-width: 100px;
}
/*bo góc*/
/* .rounder-sm {
    border-radius:4px;
}
.rounder-md {
    border-radius:8px;
} */
