 *{
    box-sizing: border-box;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#search-box {
    background: var(--color-gray);
    border-radius: 30px;
}

#search-box #search-text {
    border:none;
    outline: none;
    background: none;
    font-size: 18px;
    width:0px;
    padding:0px;
    background: var(--periwinkle-top-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: width 0.5s ease-in-out;
}
#search-box:hover #search-text, #search-box #search-text:valid {
    width: 250px;
    padding: 10px 0px 10px 15px;
}
#search-box #search-btn {
    font-size: 18px;
    align-items: center;
    cursor:pointer;
    border:none; 
    padding:16px 18px;
    color:var(--color-blue);
    background: var(--periwinkle-top-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}